<a href="https://colab.research.google.com/github/Ed-VirMercado/CpE-0332.1---1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3

In [ ]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Application 3

In [ ]:
#Display only "Thursday" using break statement
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

The range() function

In [ ]:
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

While w/ Break

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

While w/ Continue

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

While-else

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 4

In [ ]:
#Create a python program that displays: Hello 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
app_4 = 0
while app_4 < 11:
  print("Hello", app_4)
  app_4 += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 5

In [ ]:
#Create a python program that displays integers less than 10 but not less than 3
app_5 = 3
while app_5 < 10:
  print(app_5)
  app_5 += 1

3
4
5
6
7
8
9