<a href="https://colab.research.google.com/github/Didymoiii/CpE-0332.1---1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [24]:
x = 3
y = 2

if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

Python Variable

In [ ]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Casting

In [ ]:
b = "Sally" #This is a type of string
#b = int(4)
#print(b)

b = float(4)
print(b)

4.0

Type Function

In [ ]:
print(type(b))

<class 'float'>

Double Quote and Single Quote

In [ ]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case-sensitive

In [ ]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [ ]:
h, i, j = "one", 'two', "three"
print(h, i ,j)
print(i)
print(j)

one two three
two
three

Multiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [ ]:
n = "enjoying"
print("Python programming is " + n)

Python programming is enjoying

Arithmetic Operations

In [29]:
print(x + y)      #Addition
print(x - y)      #Subtraction
print(x * y)      #Multiplication
print(round(x / y))      #Division
print(x % y)      #Modulus
print(x ** y)     #Exponentiation
print(x // y)     #Floor Division

5
1
6
2
1
9
1

Assignment Operator

In [30]:
x += 3 #This is the same as x = x + 3
print(x)

6

Comparison Operator

In [32]:
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

Logical Operators

In [36]:
print(x == y and x != y)        #False and True
print(x == y or x != y)         #False or True
print(not(x == y and x != y))   #!(False and True)

False
True
True

Identity Operators

In [37]:
x is y
x is not y

True

Bitwise Operators

In [42]:
#10 +1 = 11;          1010 + 0001 = 1011
print(10 | 1)
print(x >> 1)         #x = 3, 011

11
3

Application 1

In [46]:
#Create a Python program that displays your full name, age, course and section
name = "Ed-Vir Mercado"
age = 21
course_section = "BS CpE 3 - 1"

print("Hi, I'm " + name + ", age " + str(age) + ", from " + course_section + ".")

Hi, I'm Ed-Vir Mercado, age 21, from BS CpE 3 - 1.